<app-player 
*ngFor="let player of game!.players, let i = index" 
[ngStyle]="{'top.px':100+i*90}" 
class="player-position"
[name]="player"
[playerActive]="i == game!.currentPlayer"></app-player>

<div class="field">

    <div class="card-stack">
        <!-- Card stack -->
        <img [ngStyle]="{'right.px':i*5}" *ngFor="let c of [1,2,3,4]; let i = index"
            src="assets/img/cards/card_cover.png" alt="">

        <!-- top card from stack -->
        <img (click)="takeCard()" class="top-card" style="right:25px" src="assets/img/cards/card_cover.png" alt="">

        <!-- Animation taking top card from stack -->
        <img class="played-card" *ngFor="let card of game!.playedCars; let i = index"
            src="assets/img/cards/{{ card }}.png" alt="">

        <!-- stack for played Cards -->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right:25px"
            src="assets/img/cards/{{ currentCard }}.png" alt="">
    </div>

</div>


<button mat-fab class="btn-add" (click)="openAddPlayerDialog()">
    <mat-icon>add</mat-icon>
</button>