<div class="field" *ngIf="!gameOver">

    <div class="card-stack">
        <!-- Card stack -->
        <img [ngStyle]="{'right.px':i*5}" *ngFor="let c of [1,2,3,4]; let i = index"
            src="assets/img/cards/card_cover.png" alt="">

        <!-- top card from stack -->
        <img (click)="takeCard()" class="top-card" style="right:25px" src="assets/img/cards/card_cover.png" alt="">

        <!-- Animation taking top card from stack -->
        <img class="played-card" *ngFor="let card of game!.playedCards; let i = index"
            src="assets/img/cards/{{ card }}.png" alt="">

        <!-- stack for played Cards -->
        <img (click)="takeCard()" *ngIf="game?.pickCardAnimation" class="pick-card" style="right:25px"
            src="assets/img/cards/{{ game?.currentCard }}.png" alt="">
    </div>

</div>

<div class="gameOver" *ngIf="gameOver">
    <div class="image-container">
        <img src="assets/img/cards/aces.png" alt="">
        <h1>GAME OVER</h1>
    </div>
</div>


<app-game-info *ngIf="!gameOver" [card]="game?.currentCard" class="pin-bottom"></app-game-info>

<button *ngIf="!gameOver" mat-fab class="btn-add" (click)="openAddPlayerDialog()">
    <mat-icon>add</mat-icon>
</button>

<div *ngIf="!gameOver" class="scroll-container hide-mobile">
    <app-player (click)="editPlayer(i)" *ngFor="let player of game!.players, let i = index" [name]="player"
        [playerActive]="i == game!.currentPlayer" [image]="game?.player_images?.[i] || '1.webp'"></app-player>
</div>
<!-- <app-player
*ngFor="let player of game!.players, let i = index" 
[ngStyle]="{'top.px':100+i*90}" 
class="player-position hide-mobile"
[name]="player"
[playerActive]="i == game!.currentPlayer"></app-player> -->

<div *ngIf="!gameOver" class="scroll-container-mobile hide-desktop">
    <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game!.players, let i = index" [name]="player"
        [playerActive]="i == game!.currentPlayer" [image]="game?.player_images?.[i] || '1.webp'"></app-player-mobile>
</div>